<div ng-app="riskGame">
  <div ng-controller="gameController">
    <h1>Game <%= @game.id %></h1>

    <h3> Current Conditions </h3>
    <p>
    Current Player : <%= @game.current_player %> <br>
    Max Place :  <%= @game.max_place %> <br>
    Min Move : <%= @game.minimum_move %><br>
    Move From : <%= @game.move_from %><br>
    Move To : <%= @game.move_to %><br>
    State :  <%= @game.state.class.to_s %><br>
    Won : <%= @game.won %><br>
    Players to Setup : <%= @game.players_to_setup %><br>
    Cards : <%= @game.cards_with_values_for_player @game.current_player %>
    Rolls : A <%= @game.rolls[0] %>, D <%= @game.rolls[1] %>
    </p>

    <div>
    <% Risk::Game::Board.continents::each do |continent| %>
      <div style="display: inline-block; padding-left: 20px; float:left; width: 12%;">
        <h2> <%= continent[1] %></h2>
        <ul>
        <% continent[0].each do |country| %>
          <li><%= @game.owner_of country%>: <%= country %> : <%= @game.armies_in country %></li>  
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>


    <div style="clear: both;">
    </div>

      <%= @game.error_message %>

    <div style="float: left; width: 20%; display: inline-block;">
      <h4>Use Cards</h4>
      <%= form_tag("/game/#{@game.id}/use_cards", method: "post") do %>
        <%= label_tag(:cards, "Cards to submit:") %>
        <%= text_field_tag(:cards) %><br>
        <%= submit_tag("Submit") %>
      <% end %>
    </div>

    <div style="float: left; width: 22%; display: inline-block;">  
      <h4>Place</h4>
      <%= form_tag("/game/#{@game.id}/place", method: "post") do %>
        <%= label_tag(:country, "Place into country:") %>
        <%= text_field_tag(:country) %><br>
        <%= label_tag(:number, "Number to place:") %>
        <%= text_field_tag(:number) %><br>
        <%= submit_tag("Place") %>
      <% end %>
    </div>


    <div style="float: left; width: 22%; display: inline-block;">
      <h4>Attack</h4>
      <%= form_tag("/game/#{@game.id}/attack", method: "post") do %>
        <%= label_tag(:attack_country, "Attack from country:") %>
        <%= text_field_tag(:attack_country) %><br>
        <%= label_tag(:defend_country, "Atack to country:") %>
        <%= text_field_tag(:defend_country) %><br>
        <%= label_tag(:attack_with, "Number to attack with:") %>
        <%= text_field_tag(:attack_with) %><br>
        <%= submit_tag("Attack") %>
      <% end %>
    </div>


    <div style="float: left; width: 22%; display: inline-block;">
      <h4>Move</h4>
      <%= form_tag("/game/#{@game.id}/move", method: "post") do %>
        <%= label_tag(:source_country, "Move from country:") %>
        <%= text_field_tag(:source_country) %><br>
        <%= label_tag(:destination_country, "Move to country:") %>
        <%= text_field_tag(:destination_country) %><br>
        <%= label_tag(:number_armies, "Number to move:") %>
        <%= text_field_tag(:number_armies) %><br>
        <%= submit_tag("Move") %>
      <% end %>
    </div>

    <div style="float: left; width: 10%; display: inline-block;">
      <h4>No Move</h4>
      <%= form_tag("/game/#{@game.id}/no_move", method: "post") do %>
        <%= submit_tag("No Move") %>
      <% end %>
    </div>

    <%= render "board" %>
  </div>
</div>
<script>
  window._GAMEID = <%= @game.id %>
</script>